use Mix.Config

# Configure your database
config :table_tennis, TableTennis.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "",
  password: "",
  database: "table_tennis",
  hostname: "db",
  pool_size: 10
