use Mix.Config

# Configure your database
config :table_tennis, TableTennis.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  database: "table_tennis_test",
  hostname: "db",
  pool: Ecto.Adapters.SQL.Sandbox
